@using EntityModels.DTO
@model ContactDTO

<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">
                    <span id="modalTitle">Add Contact</span>
                </h5>
                <button type="button" id="cancelEditBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="contactForm" method="post">

                    <input type="hidden" asp-for="Id" id="contactId" />
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" id="contactName" required />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email Address</label>
                        <input asp-for="Email" type="email" class="form-control" id="contactEmail" required />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="CountryCode" class="form-label">Country Code</label>
                            <select asp-for="CountryCode" class="form-select" id="contactCountryCode">
                                <option value="+20">Egypt +20</option>
                                <option value="+1">USA +1</option>
                                <option value="+44">UK +44</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Phone" class="form-label">Phone Number</label>
                            <input asp-for="Phone" type="tel" class="form-control" id="contactPhone" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Address" class="form-label">Address</label>
                        <input asp-for="Address" required class="form-control" id="contactAddress" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Notes" class="form-label">Notes</label>
                        <textarea asp-for="Notes" required class="form-control" id="contactNotes"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="SaveContact" class="btn btn-primary">Save Contact</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
