@{
    ViewData["Title"] = "Home Page";
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
    Add Contact
</button>

<partial name="ContactForm" />
